html{
	background-color: #ccc;
	}
	
section{
	height: auto;
	margin: 50px 0 0 0;
	background-color: #456;
	box-shadow: 2px 4px 4px grey;
	}
	
header{
	padding: 30px 0 10px 30px;
	color: #fff;
	font: small-caps 45px arial;
	}
	
nav{
	padding: 10px 0 10px 30px;
	color: #fff;
	font: small-caps 20px arial;
	}
	
nav a:hover{
	border: 1px solid #fff;
	padding: 2px 5px;
	font: small-caps 22px arial;
	}
	
#search_group{
	padding: 10px 0 10px 30px;
	color: #fff;
	font: small-caps 20px arial;
	}
	
.search_box{
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 200px;
	height: 20px;
	}
	
#routine{
	color: #fff;
	text-align: center;
	padding: 2px 30px;
	font: small-caps 20px arial;
	}
	
footer{
	text-align: right;
	padding: 30px 90px 40px 30px;
	color: #fff;
	font: small-caps 20px arial;
	}
	
footer a:hover{
	border: 1px solid #fff;
	padding: 2px 5px;
	font: small-caps 22px arial;
	}

hr {
	width: 430px;
	border-color: #ccc;
	}	
	
#quote_left, #quote_right{
	position: inline;
	font-size: 6em;
	opacity: 0.1;
	}
	
#quote_left{
	float: left;
	}
#quote_right{
	float: right;
	}
	
#quote_left a:hover{
	color: #000;
	opacity: 1;
	}
	
#quote_right a:hover{
	color: #000;
	opacity: 1;
	}
img #search{
	position: inline;
	padding: 3px;
	height: 20px;
	width: 20px;
	}
	
