html{
	background-color: #ccc;
	}
	
section{
	height:auto;
	margin: 40px 0 0 0;
	background-color: #456;
	box-shadow: 2px 4px 4px grey;
	position: ;
	}

header{
	padding: 30px 0 10px 30px;
	color: #fff;
	font: small-caps 45px /*'Nova Square', cursive*/arial;
	text-align: center;
	}

nav{
	position: inline;
	padding: 25px 0 10px 30px;
	color: #fff;
	}
	
nav a:hover{
	border: 1px solid #fff;
	padding: 2px 3px;
	}
	
#search_group{
	padding: 30px 0 10px 30px;
	color: #fff;
	}
	
.search_box{
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 200px;
	height: 20px;
	}

#search{
	margin: -6px 1px;
	}
#routine{
	color: #fff;
	text-align: center;
	padding: 50px 30px;
	}
	
footer{
	text-align: right;
	padding: 30px 90px 40px 30px;
	color: #fff;
	}
	
footer a:hover{
	border: 1px solid #fff;
	padding: 2px 5px;
	}

hr {
	width: 430px;
	border-color: #ccc;
	}	
	
#quote_left, #quote_right{
	position: inline;
	font-size: 6em;
	color:rgba(255,255,255, 0.09);
	}
	
#quote_left{
	float: left;
	}
#quote_right{
	float: right;
	}
	
#quote_left a:hover, #quote_right a:hover{
	color:rgba(255,255,255, 0.5);
	}
img #search{
	position: inline;
	padding: 3px;
	height: 20px;
	width: 20px;
	}
	
nav, nav a:hover, #search_group, #routine, footer, footer a:hover, h1{
	font: small-caps 20px /*'Nova Square', cursive*/arial;
	}
