html{
        background-color: #ccc;
        }
        
section{
        height: auto;
        margin: 15px 0 0 0;
        background-color: #456;
        box-shadow: 2px 4px 4px grey;
        color: #fff;
        }

header{
        padding: 30px 0 10px 30px;
        color: #fff;
        font: small-caps 270% /*'Nova Square', cursive*/arial;
        text-align: center;
        }

nav{
        padding: 15px 0 5px 25px;
        color: #fff;
        margin: 0 4px 0 4px;
        }
        
nav a:hover{
        border: 0px solid #fff;
        box-shadow: 0px 3px 0px #fff;        
        padding: 0 0px 10px 2px;
        cursor: hand;
        cursor: pointer;
        transition: all 0.1s;
        margin: 0 1px 0 -2px;
        }
        
#groupshow{
        display: inline;
        }
.navbar{
        display: inline;
        font-size: 16px;
        }

.navbar:hover{
        border: 0px solid #fff;
        box-shadow: 0px 2px 0px #fff;
        padding: 2px 3px;
        cursor: hand;
        cursor: pointer;
        margin: 0 -3px 0 -3px;
        }
        
#search_group{
        padding: 30px 0 10px 30px;
        color: #fff;
        }
        
.search_box{
        background-color: #456;
        border: 0px solid #456;
        box-shadow: 0 2px 0 #fff;
        border-radius: 2px;
        width: 200px;
        height: 20px;
        color: #fff;
        }

#search{
        margin: -9px 1px;
        }

#routine{
        color: #fff;
        text-align: center;
        padding: 50px 30px;
        }
        
footer{
        text-align: right;
        padding: 30px 90px 20px 30px;
        color: #fff;
        
        }
        
footer a:hover{
        border: 0px solid #fff;
        box-shadow: 0px 3px 0 #fff;
        padding: 2px 5px;
        cursor: hand;
        cursor: pointer;
        transition: all 0.1s;
        margin: 0 -3px 0 0;
        }

hr{
        width: 45%;
        border-color: #ccc;
        }        
        
.hr1{
        width: 45%;
        border-color: #ccc;
        }

.hr2{
        width: 45%;
        border-color: #9e5;
        }        
#quote_left, #quote_right{
        position: inline;
        font-size: 3em;
        opacity: 0.1;
        }
        
#quote_left{
        float: left;
        }
#quote_right{
        float: right;
        }
        
#quote_left:hover, #quote_right:hover{
        cursor: hand;
        cursor: pointer;
        opacity: 0.7;
        }
img #search{
        position: inline;
        padding: 3px;
        height: 20px;
        width: 20px;
        }

nav, nav a:hover, #search_group, #routine, footer, footer a:hover, h1{
        font: small-caps 20px /*'Nova Square', cursive*/arial;
        }
        
section #background{
        background-color: rgba(000,000,000, 0.9);
        height: auto;
        display: none;
	position: absolute;
	top:40%;
	left:10%;
	width:80%;
        }
        
#about_us{
        font-family: calibri;
        padding: 1px 0 10px 30px;
        }

.nlsr{
        font-size: 16px;
        }

.developed_by{
        font-size: 18px;
        }

.developers{
        padding: 10px 0 0 30px;
        }

.picture img{
        float: left;
        display: inline-block;
        overflow: hidden;
        margin: 0 10px 0 30px;
        border: 0px solid #000;
        box-shadow: 1px 1.5px 2px #000;

        }
        
.aashish, .aayush, .ankit{
        float: left;
        display: inline-block;
                }
.X{
	font-size:22px;
	position:absolute;
	top:0%;
	left:97%;
		}
                
.name, .X:hover{
        text-decoration: underline;
        cursor: hand;
        cursor: pointer;
        }
.name{
        color: #fff;
        padding: 0 0 0 4px;
        }

.post{
        font-size: 12px;
        font-style: italic;
        padding: 0 0 0 4px;
        }
        
.red img{
        margin: 0 90px 0 0;
        border: 0px solid #000;
        box-shadow: 1px 1.5px 2px #000;
        float: right;
        }
        
.company{
        float: right;
        font: small-caps 19px calibri;
        padding: 0 90px 0 0;
        }
                
#tools .setting{
        float: left;
        margin: 10px 0 0 50px;
        display: inline-block;
        }
        
#tools .update, #tools .download{
        float: left;
        margin: 10px 0 0 10px;
        display: inline-block;
        }
        
.setting img:hover, .update img:hover, .download img:hover{        
        cursor: hand;
        cursor: pointer;
        }
        
#version{
        float: right;
        font-family: Calibri;
        font-size: 15px;
        margin: 0 90px 0 0;
        overflow: hidden;
        }
